@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Lexend', sans-serif;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

#about,
#project,
#tech {
  scroll-margin-top: 16vh;
}

/* .animated-link {
  position: relative;
} */

/* .animated-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* Adjust thickness */
/* background-color: #4ade80; Tailwind color for green-400 */
/* transition: width 0.4s ease; */
/* } */
/* 
.animated-link:hover::before { */
/* width: 100%; Expands the underline to full width */
/* } */
